<h1> Index Page! </h1>

<% @carts.each do |food| %>
	<li> 
		<%= link_to food.item, cart_path(food.id) %>
		<%= link_to "edit", edit_cart_path(food[:id]) %>
		<%= link_to "delete", food, method: :delete, data: { confirm: "You sure?" }%>
	</li>
<% end %>

<%= link_to "Add Item to Cart", new_cart_path %>